<!DOCTYPE html>
<html>


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    <!-- css -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- js -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>


<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        @*<a class="nav-link" href="#">About</a>*@
                        @Html.ActionLink("連結", "About", "Home", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle show" data-toggle="dropdown" href="#" id="manager" aria-expanded="false">
                            後台管理
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="manager">
                            <a class="dropdown-item" href="#">回覆問題</a>
                            <a class="dropdown-item" href="#">查詢統計資料</a>
                            @*<a class="dropdown-item" href="@Url.Action("Index", "SystClas")">@Html.ActionLink("問題分類維護", "Index", "SystClas")</a>*@
                            <a class="dropdown-item" href="@Url.Action("Index", "SystClas")">問題分類維護</a>
                           
                            @*@Html.ActionLink("問題分類維護", "Index", "SystClas", new { @class = "dropdown-item"})*@
                            <a class="dropdown-item" href="@Url.Action("Index", "SystQAdb")">Q&A維護</a>
                        </div>
                    </li>
                </ul>
                <!--
                    <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                -->
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>
        </footer>
    </div>


</body>
</html>
