@model IEnumerable<US5NET.Models.US.T_SYST_CLAS>

@{
    ViewBag.Title = "系統問題分類";
}

<style>
    h2 {
        font-family: 'Microsoft JhengHei';
        font-weight: bold;
        letter-spacing: 10px;
    }
</style>

<h2>系統問題分類</h2>

<script>
    $(document).ready(function () {
        function dropDownData() {
            var apiurl = "http://wwwap3.dorts.gov.tw/API/us5netapi/api/appllist";            
            $.ajax({
                url: apiurl,
                type: 'GET',
                success: function (data) {
                    //console.log(data);
                    $('#select').append($('<option value="">請選擇...</option>'));
                    $.each(data, function (i) {
                        $('#select').append($('<option></option>')
                            .val(data[i].APPL_ID)
                            .html(data[i].APPL_NAME));
                        //同下
                        //<option value=data[i].SYST_NO>data[i].APPL_NAME</option>
                    });
                },
                error: function (msg) { alert(msg); }
            })
        }

        //初始執行的方法
        dropDownData();
    })
</script>

<div class="form-group">
    <label for="select" class="col-lg-2 control-label">選擇系統</label>
    <div class="col-lg-10">
        <select id="select" name="select" onchange="showlist(this.value)"></select>

        @*<select class="form-control" id="select" onchange="showlist(this.value)">            
            <option value="">請選擇...</option>
            <option value="OE">OE</option>
            <option value="PM">PM</option>
        </select>*@
        <script>

        </script>
    </div>
</div>
<br />

<p>
    @Html.ActionLink("新增問題分類", "Create")
</p>

@*<form action=" /SystClas/GetdataSubmit" method="post" id="MyForm">
    <!--用來裝SELECT OPTION VALUE 的容器-->
    <input type="hidden" name="SYST_NO" id="SYST_NO" value="" />*@

<table class="display" id="table" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CLAS_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLAS_NAME)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody id="table_body">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CLAS_NO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CLAS_NAME)
                </td>
                <td>
                    @Html.Raw(@Html.ActionLink("Edit", "Edit", new { systno = item.SYST_NO, id = item.CLAS_NO }, null)) |
                    @Html.ActionLink("Delete", "Delete", new { systno = item.SYST_NO, id =item.CLAS_NO }
                            ,new { onclick = "return confirm('確定要刪除嗎？')"} )
                </td>
            </tr>
        }
    </tbody>
</table>
@*</form>*@

<script src="~/Content/datatable/jquery.dataTables.min.js"></script>
@* rel="stylesheet"必要 *@
<link href="~/Content/datatable/jquery.dataTables.min.css" rel="stylesheet" />

<script type="text/javascript">

    @*儲存datatable record的變數*@
    var table;
    $(document).ready(function () {
        // Handler for .ready() called. 頁面一載入就執行
        table = $('#table').DataTable();

        //初始清空
        table.clear().draw();
    });

    //方法1: Ajax
    function showlist(val) {
        if (val == "") {
            table.clear().draw();
        } else {
            $.ajax({
                method: "POST",
                url: '@Url.Action("Getdata", "SystClas")',
                data: { id: val },
            })
            .done(function (data) {
                @*
                //Clear
                $("#table_body").html('');

                //Append
                for (var i = 0; i < data.length; i++) {
                    $("#table_body").append
                        (
                        "<tr>" +
                        "<td>" + data[i].CLAS_NO + "</td>" +
                        "<td>" + data[i].CLAS_NAME + "</td>" +
                        "<td><a href='/SystClas/Edit/" + data[i].CLAS_NO + "?systno=" + data[i].SYST_NO + "'>Edit</a> | <a href='/SystClas/Delete/" + data[i].CLAS_NO + "?systno=" + data[i].SYST_NO +"' onclick='return confirm(&#39;確定要刪除嗎？&#39;)'>Delete</a></td>" +
                        "</tr>"
                        );
                }
                *@
                //清除原datatable的資料
                table.clear().draw();
                //將ajax從controller得到的data，利用迴圈新增至datatable內
                for (var i = 0; i < data.length; i++) {
                    var col3 = "<a href='/SystClas/Edit/" + data[i].CLAS_NO + "?systno="
                                    + data[i].SYST_NO + "'>Edit</a> | <a href='/SystClas/Delete/"
                                    + data[i].CLAS_NO + "?systno=" + data[i].SYST_NO + "' onclick='return confirm(&#39;確定要刪除嗎？&#39;)'>Delete</a>";
                    table.row.add([
                        data[i].CLAS_NO,
                        data[i].CLAS_NAME,
                        col3,
                    ]).draw();
                }
            });
        }
    }

    //方法2: 將整個頁面透過Form Submit(Reload)
    function showlist2(val) {
        @*
        alert($("#SYST_NO").val())
        alert(val)
        *@
        $("#SYST_NO").val(val);
        $("#MyForm").submit();
        $('#select option:contains(' + val + ')').prop({ selected: true });
    }

</script>

@*表格箭頭*@
<style>
    table.dataTable thead .sorting_asc {
        background: url("http://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("http://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("http://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>
