@model US5NET.Models.T_SYST_QADB

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>T_SYST_QADB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QUER_CONT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUER_CONT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANSR_CONT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANSR_CONT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
